* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    background: url(oldpaper.jpg);
    margin: auto;
}
footer{
    position: relative;
    background: url(woodcartoon.jpg);
    box-shadow: 1px 1px 2px 4px rgb(180, 176, 176);
    padding: 3rem;
}

.borda{
    background: url(woodcartoon.jpg);
    padding: 2rem;
    box-shadow: 1px 4px 2px rgb(180, 176, 176);
    
}

.content{
    height: 89vh;
}
