* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body{
    background-color: antiquewhite;
    margin: auto;
}
footer{
    background-color: aqua;
    padding: 1.5rem;
   margin-top: 100%;
}

.borda{
    background: url(woodcartoon.jpg);
    padding: 2rem;
    box-shadow: 1px 4px 2px rgb(180, 176, 176);
    
}
.pe{
    background: url(woodcartoon.jpg);
    box-shadow: 1px 4px 2px 8px rgb(180, 176, 176);
}
.content{
    background: url(woodcartoon.jpg);
}
